body {
     padding: 10px;
}

#select-wrapper {
     padding-top: 3px;
}

.swagger-section #header #alflogo {
     background: transparent;
}

.swagger-section #header {
     padding: 14px;
     border-bottom: 1px solid #e6e6ec;
     background: linear-gradient(to bottom,white 0%,#f9fafa 47%,#f4f4f4 100%);
}

.swagger-section #api_selector .input {
     padding: 3px 10px 0 10px;
     margin: 0 0 0 0;
}

.swagger-section .swagger-ui-wrap p {
     padding: 0 0 3px 0;
}

.swagger-section #api_selector .input input {
     padding-top: 0;
}

